<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Appium Test Suite" thread-count="2" parallel="tests">
	<listeners>
		<listener class-name="com.appium.listeners.ExtentReporterListener"></listener>
		<listener class-name="com.appium.listeners.TestListener"></listener>
	</listeners>
	<test name="IOS Tests">
		<classes>
 			<class name="com.ios.web.test.WebBrowserTest" />
			<class name="com.ios.app.test.UIKitCatalogTest" />
		</classes>
	</test> 
	
	<test name="Android Tests">
		<classes>
			<class name="com.android.app.test.GenralStoreTest" />
 			<class name="com.android.installed.app.test.CalculatorAppTest" />
			<class name="com.android.web.test.WebBrowserTest" />
		</classes>
	</test> 
</suite> 
